
npm
node_modules
ksana-corpus-lib
ksanalibindex.js
package-lock.json
desktop.ini

convert_taisho

2wxzj-corpus.json

*.cor

*.rar
*.syn
*.exe
*.bat
*.dll
*.zip
*.bak
*.db
*.pdf
*.htm
*.html
*.png
*.gif
*.txt



